<script src="/frameworks/nicEdit/nicEdit.js"></script>

<script type="text/javascript">
    bkLib.onDomLoaded(function() {
        var nicEditor = new nicEditor();
        nicEditor.setPanel('panel');
        nicEditor.addInstance('editor');
    });
</script>

<div id="panel"></div>


<p id="editor" cols="60" >Abstract</p>

<!--/{iconsPath : 'frameworks/nicEdit/nicEditorIcons.gif',buttonList : ['fontSize','bold','italic','underline']}
//style="display: none;" -->