    <div class="w3-container w3-modal-content w3-black w3-text-green w3-padding-24">
            <span class="w3-button w3-display-topright hide-modal">&times;</span>
            <div id="login">
                <h4>Sign in form</h4>
                <form method="post" action="">
                    <input type="hidden" name="action" value="login">
                    <table>
                        <tr><td>
                                nickname
                            </td>
                            <td>
                                <input type="text" required autofocus title="nickname" name="nickname"/>
                            </td></tr>
                        <tr>
                            <td>
                                password
                            </td><td>
                                <input type="password" required title="password" name="password"/>

                            </td></tr>
                        <tr>
                            <td>
                                <input type="submit" />
                            </td>
                        </tr>
                    </table>
                </form>
                <footer>Don't have an account yet? <a href="#" class="show-reg">Sign up here.</a> </footer>
            </div>
            <div id="registration">
                <h4>Registration form</h4>
                <form method="post" action="">
                    <input type="hidden" name="action" value="registration">
                    <table>
                        <tr><td>
                                nickname
                            </td>
                            <td>
                                <input type="text" required autofocus title="nickname" name="nickname"/>
                            </td></tr>
                        <tr><td>
                                email
                            </td>
                            <td>
                                <input type="email" required title="email" name="email"/>
                            </td></tr>
                        <tr>
                            <td>
                                password
                            </td><td>
                                <input type="password" required title="password" name="password"/>
                            </td></tr>
                        <tr>
                            <td>
                                <input type="submit" />
                            </td>
                        </tr>
                    </table>
                </form>
                <footer>Already have an account? <a href="#" class="show-login">Log in here.</a> </footer>
            </div>
    </div>
<script src="controllers/control_handlers.js"></script>