{% import 'macros.twig' as macros %}

<div>
    <button class="w3-button w3-lime w3-hover-text-white w3-block  w3-left-align accordion-btn">
        New
    </button>
    <div class="w3-container w3-hide">
        {{ macros.admin_articles(content.0) }}
    </div>

    <button class="w3-button w3-lime w3-hover-text-white w3-block  w3-left-align accordion-btn">
        Waiting for approval
    </button>
    <div class="w3-container w3-hide">
        {{ macros.admin_articles(content.1) }}
    </div>

    <button class="w3-button w3-lime w3-hover-text-white w3-block  w3-left-align accordion-btn">
        Waiting for reviewer's response
    </button>
    <div class="w3-container w3-hide">
        {{ macros.admin_articles(content.2) }}
    </div>

    <button class="w3-button w3-lime w3-hover-text-white w3-block  w3-left-align accordion-btn">
        Rejected
    </button>
    <div class="w3-container w3-hide">
        {{ macros.admin_articles(content.3) }}
    </div>
</div>